<ion-menu [content]="content">
        <!-- <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header> -->
        <ion-content>
          <ion-list style="text-align:center">
              <img src="assets/imgs/testlogo.jpg" style="width: 50%;"/>
          </ion-list>
          <ion-list>
            <button ion-item (click)="goToHome()" menuClose>
                <ion-icon name="home"></ion-icon>  <span class="menu-title">Home</span>
            </button>
            <button *ngIf="type=='ngo'" ion-item (click)="goToUploadList()" menuClose>
                <ion-icon name="cloud-upload"></ion-icon>
                <span class="menu-title">Available Items</span>
                <span class="notification-count">10</span>
              
            </button>
            <button *ngIf="type=='ngo'" ion-item (click)="goToAcceptedList()" menuClose>
                <ion-icon name="cloud-upload"></ion-icon>
                <span class="menu-title">Accepted Items</span>
                <span class="notification-count">02</span>
              
            </button>

            <button *ngIf="type=='user'" ion-item (click)="goToAcceptedList()" menuClose>
                <ion-icon name="cloud-upload"></ion-icon>
                <span class="menu-title">My Items</span>
                <span class="notification-count">02</span>   
            </button>

            <button *ngIf="type=='user'" ion-item (click)="goToSearchPage()" menuClose>
                <ion-icon name="search"></ion-icon>
                <span class="menu-title">Search</span>
              
            </button>
            <button *ngIf="type=='user'" ion-item (click)="goToUploadItem()" menuClose>
                <ion-icon name="cloud-upload"></ion-icon>
                <span class="menu-title">Upload Item</span>
              
            </button>
            <button ion-item (click)="goToManageProfile()" menuClose>
                <ion-icon name="settings"></ion-icon>
                <span class="menu-title">Manage Profile</span>
              
            </button>
          </ion-list>
        </ion-content>
      </ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>
